<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@project.name} - " if @project %><%= t('fulcrum') %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <%- end -%>
</head>
<body>

<%= render 'layouts/header' %>

<div id="title_bar">
  <%= yield :title_bar %>
</div>

<div id="main" class="container">
  <%= show_messages %>

  <%= yield %>
</div>

</body>
</html>
